/* Разобраться с написанием локального шрифта */
@font-face {
	font-family: "Cuprum";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Cuprum"),
	  url("../fonts/cuprum.woff") format("woff"),
	  url("../fonts/cuprum.woff2") format("woff2");

}

@font-face {
	font-family: "Cuprum";
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src: local("Cuprumitalic"),
	  url("../fonts/cuprumitalic.woff") format("woff"),
	  url("../fonts/cuprumitalic.woff2") format("woff2");

}

@font-face {
	font-family: "Cuprum";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("Cuprumbold"),
	  url("../fonts/cuprumbold.woff") format("woff"),
	  url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
	font-family: "Cuprum";
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src: local("Cuprumbolditalic"),
	  url("../fonts/cuprumbolditalic.woff") format("woff"),
	  url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
	font-family: "PT SANS";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("PT SANS"),
	  url("../fonts/ptsans.woff") format("woff"),
	  url("../fonts/ptsans.woff2") format("woff2");

}


@font-face {
	font-family: "PT SANS";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("PT SANS Bold"),
	  url("../fonts/ptsansbold.woff") format("woff"),
	  url("../fonts/ptsansbold.woff2") format("woff2");
}

/* FOIT FOUT FOFT */

body {
	min-width: 1140px;
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	border-radius: 5px;

	padding: 10px;
	/* padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px; */
	
	background-color: #ee3643;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.visually-hidden {
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.breadcrumbs {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.main-header {
	background-color: #f3f7f8;
	padding-bottom: 70px;
}

.top-container {
	background-color: #293449;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.top-container .container {
	display: flex;
}

.site-logo {
	display: block;
	width: 220px;
	height: 47px;
	margin-bottom: -3px;
}

.search-form input {
	color: #f0f1f2;
}

.search-form label {
	position: relative;
}

.search-form svg {
	position: absolute;
	top: 0px;
	left: 17px;
	fill: #6a7180;
}

.search-form:hover {
	background-color: #212a3a;
}

.search-form:hover svg {
	fill: #fff;
}

.input-search {
	background-color: transparent;
	border: 0;
	width: 270px;
	height: 43px;
	padding: 0 10px 0 48px;
}

.input-search::placeholder {
	color: #fff;
}

.input-search:focus {
	background-color: #ffffff;
	color: #000;
	border: none;
}

.input-search:focus::placeholder {
	color: #000;
}

/* Не могу перекрасить лупу в красный при выборе инпута! */
.input-search:focus ~ svg {
	fill: red;
}

.site-top__list {
	display: flex;
	margin: auto;
	list-style: none;
	padding: 0;
}

.site-top__item {
	width: 150px;
	text-align: center;
	text-transform: none;
	position: relative;
}

.site-top__item svg {
	position: absolute;
	top: 12px;
	left: 17px;
	fill: #6a7180;
}

/* .site-top__item:hover svg {
	fill: #fff;
} */

.site-top__item a {
	display: block;
	color: #fff;
	padding: 12px 0px 12px 17px;
}

.site-top__item a:hover,
.site-top__item a:focus {
	background-color: #212a3a;
}

.site-top__item a:hover svg,
.site-top__item a:focus svg {
	fill: #fff;
}

.site-top__item--green {
	background-color: #63a63e;
}

.site-top__item--green a {
	padding: 12px 0;
}

.site-top__item--green a:hover,
.site-top__item--green a:focus {
	background-color: #5fbb2d;
}

.site-top__item--red {
	background-color: #ee3643;
}


.site-top__item--red svg {
	fill: #f3737c;
}

.site-top__item--red a {
	padding: 12px 0px 12px 22px;
}

.site-top__item--red a:hover {
	background-color: #ff0011;
}

.about {
	margin-top: 45px;
}

.about .container {
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 16px;
	color: #ee3643;
	line-height: 23px;
	width: 205px;
	height: 69px;
	font-style: italic;
	text-transform: none;
	margin: 4px 0 0 53px;
}

.contact {
	display: block;
	width: 300px;
}

.contact-information {
	position: relative;
	border: 3px solid #fff;
	margin: 0 12px;
	width: 265px;
}

.contact-information a {
	color: #ee3643;
	display: block;
	font-size: 21px;
	line-height: 18px;
	text-align: center;
	padding: 10px 0 10px 20px;
}

.contact-information svg {
	position: absolute;
	top: 10px;
	left: 10px;
	fill: #B7BFC8;
}

.contact-adress {
	font-size: 14px;
	color: #32425c;
	line-height: 24px;
	margin: 3px 0 0 22px;
	text-transform: none;
}

.authorization-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.authorization-list li {
	position: relative;
}

.authorization-list svg {
	position: absolute;
	top: 10px;
	left: 10px;
	fill: #B7BFC8;
}

.authorization-list button:hover svg,
.authorization-list button:focus svg {
	fill: #32425C;
}

.authorization-list button {
	font-size: 21px;
	line-height: 18px;
	background-color: #fff;
	border: none;
}

.authorization-login {
	border: 3px solid #fff;
	padding: 11px 27px 11px 48px;
    margin-right: 10px;
	cursor: pointer;
}

.authorization-login:hover,
.authorization-login:focus {
	color: #ee3643;
}

.registration {
	border: 3px solid #fff;
	padding: 11px 24px;
 }

 .registration:hover,
 .registration:focus {
	color: #ee3643;
 }

.navigation {
	background-color: #32425c;
	line-height: 17px;
	width: 940px;
	margin: 39px auto 0;
	text-transform: none;
}

.navigation_item {
	flex-grow: 1;
	text-align: center;
}

.navigation_item .active {
	background-color: #1d2739;
	color: #868c95;
}

.navigation_item a {
	display: block;
}

.navigation a:hover,
.navigation a:focus {
	background-color: #293449;
}

.navigation_list {
	list-style: none;
	display: flex;
	border-bottom: 5px solid #293449;
	padding-left: 21px;
	padding-right: 25px;
	justify-content: space-between;
	margin: 0;
}

.navigation_list a {
	color: #fff;
	padding: 20px 25px 19px;
}

.category-list {
	display: flex;
	list-style: none;
	color: #fff;
	justify-content: space-between;
	padding: 0;
	text-transform: none;
	margin: 48px 0 0;
}
.same {
	width: 300px;
	min-height: 93px;
	padding: 21px 23px;
}

.category-list h3 {
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 14px;
}

.category-list a {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 0;
	text-transform: uppercase;
}

.category_material {
	position: relative;
	overflow: hidden;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-color: #ffbf47;
	background-position: center right 44px;
}

.category_material::after {
	content: "new";
	color: #ffffff;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	padding: 4px 8px;
	width: 95px;
	display: block;
	position: absolute;
	top: 6px;
	right: -28px;
	transform: rotate(45deg);
}

.promo a {
	padding: 10px 0;
	width: 136px;
	border-radius: 5px;
	text-align: center;
}

.category_material a {
	background-color: rgba(189,125,0,.2);
}

.category_material a:hover,
.category_material a:focus {
	background-color: rgba(189,125,0,.3);
}

.category_tools {
	background-color: #3bbce3;
	position: relative;
	overflow: hidden;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: center right 30px;
}

.category_tools a{
	background-color: rgba(42,131,158,.2);
}

.category_tools a:hover,
.category_tools a:focus {
	background-color: rgba(42,131,158,.3);
}

.category_technics {
	background-color: #dc91d8;
	position: relative;
	overflow: hidden;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: center right 30px;
}

.category_technics a {
	background-color: rgba(161,111,158,.2);
}

.category_technics a:hover,
.category_technics a:focus {
	background-color: rgba(161,111,158,.3);
}

.part2 {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.category-list_part2 {
	display: flex;
	list-style: none;
	color: #fff;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	flex-direction: column;
	text-transform: none;
}

.category-list_part2 h3 {
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 14px;
}

.category-list_part2 a {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 0;
	text-transform: uppercase;
}

.category_sale {
	background-color: #8ed78f;
	position: relative;
	overflow: hidden;
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: center right 44px;
}

.category_sale a {
	background-color: rgba(113,159,113,.2);
}

.category_sale a:hover,
.category_sale a:focus {
	background-color: rgba(113,159,113,.3);
}

.category_delivery {
	background-color: #ffc047;
	position: relative;
	overflow: hidden;
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: center right 30px;
}

.category_delivery a {
	background-color: rgba(175,132,50,.2);
}

.category_delivery a:hover,
.category_delivery a:focus {
	background-color: rgba(175,132,50,.3);
}

.category_slider {
	margin: 0;
	padding: 0;
}

.category_drill {
	color: #fff;
	line-height: 30px;
	width: 620px;
	height: 266px;
}

.category_drill--1 {
	background-image: url("../img/slider-1.jpg");
}

.category_drill--2 {
	background-image: url("../img/slider-2.jpg");
}

.category_drill a {
	display: block;
	margin: 104px 0 0 26px;
	padding: 10px 0;
	color: #fff;
	width: 195px;
}

.category_drill {
	display: none;
}

.input-slider-1:checked ~ .category_slider .category_drill--1,
.input-slider-2:checked ~ .category_slider .category_drill--2 {
	display: block;
}

.description {
	padding: 26px 25px 22px;
	background-color: rgba(0,0,0,.2);
}

.description h3 {
	font-size: 36px;
	line-height: 30px;
	margin: 0;
}

.description span {
	display: block;
	margin: 3px 0 0 0;
	font-size: 18px;
	line-height: 24px;
	text-transform: none;
	font-family: "PT Sans", Arial, sans-serif;
}

.slider_wrap {
	position: relative;
}

.slider_button {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
}

.slider_button label {
	display: block;
	width: 24px;
	height: 24px;
	border-left: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	cursor: pointer;
}

.slider_button label:nth-child(1) {
	transform: rotate(45deg);
	margin-left: 32px;
}

.slider_button label:nth-child(2) {
	transform: rotate(-135deg);
	margin-right: 32px;
}

.slider_pagination {
	width: 30px;
	justify-content: space-between;
	display: flex;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.slider_pagination label {
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.input-slider-1:checked ~ .slider_pagination label:nth-child(1),
.input-slider-2:checked ~ .slider_pagination label:nth-child(2) {
	background-color: red;
}

.popular-tools, .popular-producers {
	padding: 28px 28px 28px 26px;
}

.popular-tools-container {
	margin-top: 54px;
}

.popular-tools, .popular-producers {
	background-color: #f9f5f0;
	display: flex;
	justify-content: space-between;
}

.popular-tools h2,.popular-producers h2 {
	font-size: 30px;
	line-height: 30px;
	margin: 0;	
	font-weight: normal;
}

.popular-tools a, .popular-producers a {
	line-height: 18px;
	display: block;
	text-align: center;
	width: 253px;
	height: 38px;
	margin: auto 0;
	font-weight: normal;
}

.list-tools {
	font-family: "PT SANS", Arial, sans-serif;
	font-size: 17px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 17px 0 0 0;
	padding: 0;
	font-weight: 700;
	flex-wrap: wrap;
}

.list-tools__item {
	display: flex;
	border: 1px solid #eaeaea;
	width: 220px;
	padding-bottom: 25px;
	text-align: center;
	flex-direction: column;
	position: relative;
	overflow: hidden;
}

.list-tools_index .list-tools__item:nth-child(4):after {
	font-family: "Cuprum", Arial, sans-serif;
	text-transform: none;
	content: "new";
	color: #ffffff;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	padding: 4px 8px;
	width: 95px;
	display: block;
	position: absolute;
	top: 6px;
	right: -28px;
	transform: rotate(45deg);
}


.popular-item .list-tools__item:nth-child(3):after,
.popular-item .list-tools__item:nth-child(5):after,
.popular-item .list-tools__item:nth-child(7):after {
	font-family: "Cuprum", Arial, sans-serif;
	text-transform: none;
	content: "new";
	color: #ffffff;
	background-color: #ee3643;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	padding: 4px 8px;
	width: 95px;
	display: block;
	position: absolute;
	top: 6px;
	right: -28px;
	transform: rotate(45deg);
}

.list-tools__item:hover,
.list-tools__item:focus {
	box-shadow: 0 10px 35px 0 #bec2c6;
	transition: box-shadow 0.3s;
}


.list-tools-img {
	height: 167px;
	margin: 0;
	width: 220px;
}

.list-tools p {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-test {
	opacity: 0;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
}

.btn-test ul {
	display: flex;
	padding: 0;
	flex-direction: column;
	list-style: none;
}

.btn-test button {
	font-size: 14px;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 5px;
}

.button-buy {
	color: #fff;
	background-color: #63a63e;
	border: none;
	margin: 0 0 7px 0;
	padding: 11px 0;
	width: 135px;
}

.button-buy:hover {
	background-color: #5fbb2d;
}

.button-bookmarks {
	color: #32425c;
	border: 3px solid #63a63e;
	margin: 0;
	padding: 9px 0;
	width: 135px;
	background-color: #fff;
}

.button-bookmarks:hover {
	border-color: #32425c;
}

.list-tools__item:hover .btn-test {
	opacity: 1;
}

.list-tools__item:hover .list-tools-img {
	opacity: 0;
}

.popular-item .list-tools__item {
	margin-bottom: 20px;
}

/* .list-tools-img img {
	position: absolute;
	top: 50%;
	left: 50%;
} */

.list-tools h3 {
	font-size: 18px;
	line-height: 20px;
	margin: 12px 0 0 0;
	padding: 0 30px;
	text-transform: none;
}

.list-tools del {
	line-height: 18px;
	margin: 10px 0 10px 0;
	color: #a9a9a9;
}

.list-tools ins {
	line-height: 18px;
	width: 123px;
	padding: 10px 0 10px 13px;
	margin: auto 0 0 42px;
	background-color:#ee3643;
	color: #fff;
	border-radius: 5px;
	text-decoration-line: none;
	position: relative;
}

.list-tools ins::after {
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	position: absolute;
	top: 0px;
	left: 120px;
	border-color: transparent transparent transparent #ee3643;
	padding: 1px;
	border-width: 18px 0 18px 20px;
}

.popular-producers-container {
	margin-top: 18px;
}

.popular-producers {
	background-color: #f9f5f0;
	margin-bottom: 17px;
}

.popular-producers-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.popular-producers-list li {
	width: 218px;
	height: 143px;
}

.margin {
	margin: 0 20px 20px 0;
	border: 1px solid #ebebeb;
}

.margin-right {
	margin-right: 0;
}

.popular-producers-list a {
    display: flex;
	width: 217px;
	height: 143px;
	justify-content: center;
	align-items: center;
}

.popular-producers-list li:hover,
.popular-producers-list li:focus {
    box-shadow: 0 10px 35px 0 #bec2c6;
}

.service {
	background-color: #f4f8f9;
	margin-top: 65px;
	padding-top: 68px;
}

.service-title {
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}

.service p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	width: 400px;
	margin: 29px 0 0 0;
	text-transform: none;
}

.service-container {
	display: flex;
	justify-content: space-between;
	margin-top: 66px;
	margin-bottom: 70px;
}

.service_button {
	display: flex;
	flex-direction: column;
	position: relative;
}

.service_button::after {
	content: "";
	position: absolute;
	top: -35px;
	left: 230px;
	width: 10px;
	height: 272px;
	background-image: url("../img/border.png");
}

.service_button label {
	width: 240px;
	padding: 20px 22px 18px;
	font-size: 21px;
	font-weight: 700;
	background-color: #32425c;
	box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
	color: #fff;
	text-transform: none;
	cursor: pointer;
}


.service-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.service-list li {
	display: flex;
	justify-content: space-between;
	width: 620px;
	min-height: 285px;
	margin-left: 80px;
	display: none;
	position: relative;
}

.service-list button {
	width: 240px;
}

.service-list p{
	width: 380px;
	padding: 0;
}

.input-service-1:checked ~ .service-list .service-item--1,
.input-service-2:checked ~ .service-list .service-item--2,
.input-service-3:checked ~ .service-list .service-item--3 {
	display: flex;
}


.input-service-1:checked ~ .service_button label:nth-child(1),
.input-service-2:checked ~ .service_button label:nth-child(2),
.input-service-3:checked ~ .service_button label:nth-child(3){
	background-color: #fff;
	color: #32425c;
	box-shadow: none;
}


/* Сделал фоном эту картинку */
.service-item--1::after {
	content: "";
	background-image: url("../img/delivery.png");
	width: 206px;
	height: 146px;
	position: absolute;
	top: 30px;
	left: 410px;
}

.service-delivery {
	font-size: 36px;
	line-height: 48px;
	font-weight: 400;
	margin: 0;
}

.service-item--1 img {
	margin-top: 19px;
}

.service_button label:hover,
.service_button label:focus {
	background-color: #293449;
}

.service-item--3 .credit-button {
	width: 195px;
	padding: 10px 0;
	margin-top: 28px;
	background-color: #ff5357;
}

.service-item--3 .credit-button:hover,
.service-item--3 .credit-button:focus {
	background-color: #ca2c37;
}

.about-company {
	display: flex;
	justify-content: space-between;
	margin-top: 76px;
    padding-bottom: 86px;
}

.about-company h2 {
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}

.about-company p {
	font-family: "PT SANS", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	text-transform: none;
	margin-top: 28px;
	margin-bottom: 0;
}

.about-company p:nth-of-type(2) {
	margin-top: 24px;
	margin-bottom: 0;
}


.about-company a {
	display: block;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 0;
}

.company {
	line-height: 24px;
	width: 545px;
}

.company a {
	width: 220px;
	margin-top: 37px;
}

.company-list {
	list-style: none;
	padding: 0;
	margin: 22px 0 0 0;
}

.company-list li {
	margin-bottom: 20px;
	padding-left: 35px;
	text-transform: none;
	position: relative;
}

.company-list li::before {
	content: "";
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	position: absolute;
	top: 10px;
	left: 0;
}

.company-list li:nth-of-type(3) {
	margin-bottom: 0px;
}

.contacts {
	width: 300px;
}

.contacts p {
	padding-right: 105px;
}

.contacts a {
	width: 300px;
	margin-top: 36px;
}

.contacts img {
	margin-top: 32px;
}

footer {
	background-color: #32425c;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	text-transform: none;
}

.footer-menu1 {
	display: flex;
	justify-content: space-between;
}

.footer-menu1-logo {
	display: block;
	width: 220px;
	height: 68px;
}

footer a {
	color: #fff;
}

footer a:hover,
footer a:focus {
	text-decoration: underline;
}

.nav-list {
	display: flex;
	list-style: none;
	width: 548px;
	margin: 37px 0 0 0;
	padding: 0;
	justify-content: space-between;
}

.nav-list li, .offers-list li {
	font-size: 18px;
	line-height: 24px;
}

.footer-menu2 {
	display: flex;
	justify-content: space-between;
	margin-top: 27px;
	padding-bottom: 50px;
}

.footer-menu2-contacts {
	padding-left: 3px;
}

.footer-menu2-contacts p {
	margin: 0;
}

.offers-list {
	display: flex;
	width: 525px;
	list-style: none;
	padding: 0;
	justify-content: space-between;
}

.offers-list a {
	color: #ffd180;
}


.footer-bottom {
	background-color: #293449;
	padding: 38px 0 30px;
}

.footer-information {
	display: flex;
	justify-content: space-between;
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
}

.footer-information p {
	margin: 0;
}

.footer-social_list {
	display: flex;
	width: 170px;
	list-style: none;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.footer-social_list a {
	display: flex;
	background-color: #212a3a;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	align-items: center;
	margin-right: 4px;
	justify-content: center;
}

.footer-social_list a:hover,
.footer-social_list a:focus {
	background-color: #ee3643;
}

.mail a, .copyright a {
	color: #f5c97d;
}


/* Каталог */

.user-info {
	position: relative;
 }

.login {
	font-size: 21px;
	line-height: 18px;
    padding: 15px 68px 13px 47px;
	background-color: #fff;
	border: 0;
	/* cursor: pointer; */
}

 .user-info svg:nth-of-type(1) {
	position: absolute;
	top: 0px;
	left: 13px;
	fill: #B7BFC8;
	cursor: pointer;
 }

 .user-info svg:nth-of-type(2) {
	position: absolute;
	top: 0px;
	right: 10px;
	fill: #B7BFC8;
	cursor: pointer;
 }

 .user-info:hover svg,
 .user-info:focus svg {
	fill: #32425C;
 }



.data-list {
	display: flex;
	list-style: none;
	margin: 7px 0 0 18px;
	padding: 0;
	position: relative;
}

.data-list a {
	color: #32425c;
	font-size: 16px;
	text-decoration: underline;
	text-transform: none;
}

.data-list a:hover,
.data-list a:focus {
	color: #ee3643;
}

.data-list a:first-of-type {
	margin-right: 28px;
}

.data-list a:nth-of-type(1)::after {
	content: "";
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #32425c;
	position: absolute;
	top: 8px;
	left: 85px;
}

/* Страница Catalog */

.catalog-main {
	font-family: "PT SANS", Arial, sans-serif;
}

.search-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;
	position: relative;
}

.home:hover .homy path,
.home:focus .homy path,
.home:hover .homy polygon,
.home:focus .homy polygon {
	fill: #32425c;
}

.search-item:not(:last-child) a::after {
	content: "";
	width: 9px;
	height: 9px;
	border: 1px solid #c1c6ce;
	border-bottom-style: none;
	border-left-style: none;
	position: absolute;
	top: 5px;
	left: 26px;
	transform: rotate(45deg);
}

.search-item:nth-child(2) a::after {
	left: 120px;
}

.search-item:nth-child(3) a::after {
	left: 240px;
}

.search-list a {
	font-size: 13px;
	color: #000;
	line-height: 18px;
	margin-right: 13px;
	padding-right: 27px;
}

.search-list li:nth-of-type(3) a {
	margin-right: 17px;
}

.search-list li:nth-of-type(4) a {
	margin: 0;
	padding: 0;
}

.search-list a:hover,
.search-list a:focus {
	color: #ee3643;
	text-decoration: underline;
}

.catalog-title {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	color: #32425c;
	background-color: #f2f6f8;
	line-height: 30px;
	margin: 21px 0 0 0;
	padding: 30px 0 31px 28px;
	font-weight: normal;
}

.container-catalog {
	display: flex;
	justify-content: space-between;
	margin-top: 19px;
}

.filter-catalog {
	width: 220px;
}

.filter-catalog legend {
	font-weight: 700;
}

.filter {
	font-size: 13px;
	color: #32425c;
	background-color: #f7f3ec;
	line-height: 18px;
	padding: 8px 0 11px 19px;
	font-weight: normal;
	margin: 0;
	border-radius: 4px;
}

fieldset {
	display: flex;
	flex-direction: column;
	border: 0;
}

.catalog-price {
	margin: 11px 0 0 0;
	padding: 0 0 26px 0;
}

.price {
	font-size: 17px;
	line-height: 30px;
	margin: 0 0 16px 0;
}

.range {
	background-color: #f7f3ec;
	padding: 38px 20px;
	border-radius: 4px;
	position: relative;
}

.range p {
	padding: 0;
	margin: 0;
	font-size: 0;
}

.range .line {
    width: 180px;
    height: 2px;
    background-color: #d7dcde;
}

.range .line-full {
	width: 160px;
	height: 2px;
	background-color: #00ca74;
	position: absolute;
	top: 38px;
}

.range .range-left {
	position: absolute;
	top: 29px;
	left: 20px;
}

.range .range-right {
	position: absolute;
	top: 29px;
	left: 160px;
}

.coast {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
	position: relative;
}

.coast input {
	width: 95px;
	padding: 10px;
	background-color: #f7f3ec;
	border: none;
	border-radius: 4px;
	text-align: center;
}

.coast label:nth-of-type(1)::after {
	content: "";
	width: 10px;
	height: 1px;
	position: absolute;
	background-color: #444;
	top: 22px;
	left: 105px;
}


.catalog-produced {
	font-size: 15px;
	line-height: 30px;
	margin: 16px 0 0 0;
	padding: 0 0 22px 0;
}

.catalog-produced label {
	padding: 0 0 0 34px;
	position: relative;
	line-height: 20px;
	cursor: pointer;
}

.catalog-produced label::before {
	content: "";
	width: 21px;
	height: 21px;
	border: 2px solid #c5c5c5;
	position: absolute;
	border-radius: 4px;
	top: 0;
	left: 0;
}


.catalog-produced label::after {
	content: "";
	position: absolute;
	left: 5px;
	top: 3px;
	display: none;
	width: 17px;
	height: 9px;
	border: 3px solid #c5c5c5;
	border-top-style: none;
	border-right-style: none;
	transform: rotate(-45deg);
	box-shadow: inset 0 -2px 0 0 #fff, 0 2px 0 0 #fff;
}

.catalog-produced input:checked ~ label::after {
	display: block;
}

.catalog-produced ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 14px 0 0 0;
	padding: 0;
}

.catalog-produced li, .catalog-energy li {
	margin: 0 0 20px 0;
}

.catalog-produced li:last-of-type, .catalog-energy li:last-of-type {
	margin: 0;
}

.catalog-produced label::before {
	content: "";
	width: 25px;
	height: 25px;
	border-radius: 4px;
	border: 2px solid #c5c5c5;
	position: absolute;
	top: 0;
	left: 0;
}

.catalog-produced_firm input ~ label::after {
	content: "";
	width: 21px;
	height: 13px;
	border: 4px solid #c5c5c5;
	position: absolute;
	top: 1px;
	left: 5px;
	border-top-style: none;
	border-right-style: none;
	transform: rotate(-45deg);
	box-shadow: inset 0 -2px 0 0 #fff, 0 2px 0 0 #fff;
}

.legend-produced {
	font-size: 17px;
	line-height: 30px;
}

.catalog-energy {
	font-size: 15px;
	line-height: 30px;
	margin: 18px 0 0 0;
	padding: 0 0 26px 0;
}

.catalog-energy ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 12px 0 0 0;
	padding: 0;
}

.catalog-energy label::before {
	content: "";
	width: 24px;
	height: 24px;
	border: 5px solid #c5c5c5;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
}

.catalog-energy input:checked ~ label::after {
	content: "";
	width: 8px;
	height: 8px;
	background-color: #c5c5c5;
	position: absolute;
	border-radius: 50%;
	top: 8px;
	left: 8px;
}

.catalog-energy label {
	line-height: 20px;
	padding: 0 0 0 34px;
	position: relative;
	line-height: 20px;
	cursor: pointer;
}

.legend-energy {
	font-size: 17px;
}

.show {
	font-size: 13px;
	line-height: 18px;
	width: 140px;
	margin: 52px 0 0 0;
	padding: 9px 0;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	background-color: #fff;
	text-transform: uppercase;
}

.tools-catalog {
	width: 700px;
}

.sorting {
	background-color: #f7f3ec;
	font-size: 13px;
	color: #cacaca;
	line-height: 18px;
	display: flex;
	justify-content: space-between;
	padding: 8px 17px 11px 19px;
	border-radius: 4px;
}

/* .sorting a {
	display: block;
	margin: 0;
	padding: 0;
} */

.sorting ul {
	display: flex;
	list-style: none;
	margin: 0;
	justify-content: space-between;
}

.sorting-list {
	width: 355px;
	padding: 0;
}

.sorting-button {
	display: flex;
	justify-content: space-between;
	width: 43px;
	padding: 0;
	font-weight: 700;
}

.sorting-button li::before {
	content: "";
	width: 10px;
	height: 10px;
	background-color: red;
	position: absolute;
	top: 3px;
	left: -2px;
	transform: rotate(45deg);
}

.sorting p {
	color: #000;
	margin: 0 97px 0 0;
}

.sorting a:hover,
.sorting a:focus {
	color: #293449;
	text-decoration: underline;
}

.sorting-price {
	color: #ee3643;
}

.sorting-type {
	color: #cacaca;
}

.sorting-function {
	color: #cacaca;
}

/* .sorting-up {
	color: #ee3643;
}

.sorting-down {
	color: #cacaca;
} */

/* Как работает? */

.button-up,
.button-down {
	width: 0;
	height: 0;
	padding: 0;
	border-style: solid;
	border-width: 0 6px 10px; 
	border-color: transparent transparent #c5c5c5;
	margin-top: 3px;
	cursor: pointer;
}

.button-up:hover,
.button-down:hover {
	border-bottom-color: #000000;
}

.button-up {
	border-color: transparent transparent #ee3643;
}

.button-down {
	transform: rotate(180deg);
}


.pagination {
	display: flex;
	font-size: 13px;
	list-style: none;
	line-height: 18px;
	width: 700px;
	margin: 31px 0 0 0;
	padding: 0;
}

.pagination li {
	margin-right: 11px;
}

.pagination a {
	display: block;
	color: #000;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: 10px 14px;
}

.pagination li:nth-of-type(1) a{
	color: #fef5f6;
	background-color: #ee3643;
	border-color: #ee3643;
}
.pagination li:nth-of-type(4) a{
	padding: 10px 31px;
}

.pagination a:hover,
.pagination a:focus {
	color: #ee3643;
	border-color: #bdc6ca;
}

.about-drill {
	background-color: #f2f6f8;
	font-size: 13px;
	line-height: 24px;
	margin: 60px 0 0 0;
	padding: 62px 0 69px 0;
}

.about-drill h3 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
}

.about-drill p {
	text-transform: none;
}

/* Button Cuprum */
/* .button {
	font-family: "Cuprum";
	font-weight: 400;
}

.button-normal {
	font-style: normal;
}

.button-italic {
	font-style: italic;
}

.button-bold {
	font-style: normal;
	font-weight: 700;
}

.button-bold-italic {
	font-style: italic;
	font-weight: 700;
} */

/* Text PT Sans */
/* .text {
	font-family: "PT SANS";
	font-style: normal;
}

.text-bold {
	font-weight: 700;
} */


/* Всплывающие окна */

.modal {
	display: none;
	position: fixed;
	width: 620px;
	top: 10px;
	left: 50%;
	margin-left: -310px;
	background-color: #fff;
	border-top: 7px solid #ee3643;
	box-shadow: 0 15px 32px 0 #ccc;
}

.modal-show {
	display: block;
}

.information {
	display: flex;
	padding: 45px 80px 49px;
	position: relative;
}

.information h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: none;
	font-weight: normal;
	margin: 0;
	align-self: center;
}

.information .icon {
	position: relative;
	width: 67px;
	height: 67px;
	background-color: #63a63e;
	border-radius: 50%;
	margin: 0 30px 0 0;
}

.information .icon::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 14px;
	width: 40px;
	height: 23px;
	border: 8px solid #ffffff;
	border-right-style: none;
	border-top-style: none;
	transform: rotate(-45deg);
}

.information-button {
	display: flex;
	justify-content: space-between;
	background-color: #f1f1f1;
	padding: 38px 80px;
}

.information-button a {
	font-size: 14px;
	line-height: 18px;
	background-color: #ee3643;
	padding: 10px 0;
	color: #ffffff;
	width: 220px;
	border-radius: 4px;
	text-align: center;
}

.information-button a:hover,
.information-button a:focus {
	background-color: #ca2c37;
}

.information-button button {
	font-size: 14px;
	line-height: 18px;
	background-color: #ffffff;
	padding: 10px 0;
	color: #000000;
	width: 220px;
	border-radius: 4px;
	text-align: center;
	text-transform: uppercase;
	border-style: none;
	cursor: pointer;
}

.information-button button:hover,
.information-button button:focus {
	background-color: #fbf9f9;
}

.modal-close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	border-style: none;
	background-color: #ffffff;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 12px;
	left: 2px;
	width: 25px;
	height: 4px;
	background-color: #ee3643;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}