@font-face {
	font-family: "Cuprum";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Cuprum"),
	  url("../fonts/cuprum.woff") format("woff"),
	  url("../fonts/cuprum.woff2") format("woff2");

}

@font-face {
	font-family: "Cuprum-italic";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Cuprum"),
	  url("../fonts/cuprumitalic.woff") format("woff"),
	  url("../fonts/cuprumitalic.woff2") format("woff2");

}

@font-face {
	font-family: "PT SANS";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Cuprum"),
	  url("../fonts/ptsans.woff") format("woff"),
	  url("../fonts/ptsans.woff2") format("woff2");

}

@font-face {
	font-family: "Cuprum Bold";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("Cuprum"),
	  url("../fonts/cuprumbold.woff") format("woff"),
	  url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
	font-family: "Cuprum Bold Italic";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("Cuprum"),
	  url("../fonts/cuprumbolditalic.woff") format("woff"),
	  url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
	font-family: "PT SANS Bold";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("Cuprum"),
	  url("../fonts/ptsansbold.woff") format("woff"),
	  url("../fonts/ptsansbold.woff2") format("woff2");
}

body {
	min-width: 1140px;
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

.button {
	font: inherit;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;

	padding: 10px;
	/* padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px; */
	
	background-color: #ee3643;
	border: none;
}

.visually-hidden {
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.breadcrumbs {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.main-header {
	background-color: #f3f7f8;
	padding-bottom: 70px;
}

.site-top {
	display: block;
	background-color: #293449;
}


.site-top__item a {
	color: #fff;
	padding: 12px 0px 12px 17px;
}

.site-top__item a:hover,
.site-top__item a:focus {
	background-color: #212a3a;
}

.order {
	background-color: #63a63e;
}

.site-top__list {
	list-style: none;
}

.title {
	font-size: 16px;
	color: #ee3643;
	line-height: 23px;
}

.contact-information {
	border: 3px solid #fff;
	font-size: 21px;
	line-height: 18px;
}

.contact-information a {
	color: #ee3643;
}

.registration {
	font-size: 21px;
	list-style: none;
}

.registration-list {
	list-style: none;
}

.registration-list button {
	line-height: 18px;
}

.contact-adress {
	font-size: 14px;
	color: #32425c;
	line-height: 24px;
}

.registration-logout {
	border: 3px solid #fff;
}

.navigation {
	background-color: #32425c;
	line-height: 17px;
}

.navigation a:hover,
.navigation a:focus {
	background-color: #293449;
}

.navigation_list {
	list-style: none;
}

.navigation_list a {
	color: #fff;
	padding: 20px 25px 19px;
}

.category-list {
	list-style: none;
	color: #fff;
}

.category-list h3 {
	font-size: 24px;
	line-height: 30px;
}

.category-list a {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}

.category_material {
	background-color: #ffbf47;
}

.category_material a:hover,
.category_material a:focus {
	background-color: rgba(189,125,0,.3);
}

.category_tools {
	background-color: #3bbce3;
}

.category_tools a:hover,
.category_tools a:focus {
	background-color: rgba(42,131,158,.3);
}

.category_technics {
	background-color: #dc91d8;
}

.category_technics a:hover,
.category_technics a:focus {
	background-color: rgba(161,111,158,.2);
}

.category_sale {
	background-color: #8ed78f;
}

.category_sale a:hover,
.category_sale a:focus {
	background-color: rgba(113,159,113,.2);
}

.category_delivery {
	background-color: #ffc047;
}

.category_delivery a:hover,
.category_delivery a:focus {
	background-color: rgba(175,132,50,.3);
}

.category_drill {
	background-image: url("../img/slider-2.jpg");
	color: #fff;
	line-height: 30px;
}

.category_drill a:hover,
.category_drill a:focus {
	background-color: #ca2c37;
}

.category_drill--height {
	line-height: 24px;
}

.category_drill a {
	color: #fff;
}

.popular-tools {
	background-color: #f9f5f0;
}

.popular-tools h2 {
	font-size: 30px;
	line-height: 30px;
}

.popular-tools a {
	line-height: 18px;
}

.list-tools {
	font-family: "PT SANS";
	font-size: 17px;
}

.list-tools h3 {
	font-size: 18px;
	line-height: 20px;
}

.list-tools del {
	line-height: 18px;
}

.list-tools ins {
	line-height: 18px;
}

.popular-producers {
	background-color: #f9f5f0;
}

.popular-producers h2 {
	font-size: 30px;
	line-height: 30px;
}

.popular-producers a {
	font-size: 14px;
	line-height: 18px;
}

.service {
	background-color: #f4f8f9;
}

.service p {
	line-height: 24px;
}

.service-title {
	font-size: 30px;
	line-height: 24px;
}

.service-list {
	list-style: none;
}

.service p {
	font-family: "PT SANS";
	font-size: 13px;	
}

.service-delivery {
	font-size: 36px;
	line-height: 24px;
}

.service-type {
	font-size: 21px;
}

.company {
	line-height: 24px;
}

.company-title {
	font-size: 30px;
}

.company p {
	font-family: "PT SANS";
	font-size: 13px;
}

.company a {
	font-size: 14px;
	line-height: 18px;
}

.company-list {
	list-style: none;
}

.contacts {
	line-height: 24px;
}

.contacts-title {
	font-size: 30px;
}

.contacts p {
	font-family: "PT SANS";
	font-size: 13px;
}

.contacts a {
	font-size: 14px;
	line-height: 18px;
}

footer {
	background-color: #32425c;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
}

footer a {
	color: #fff;
}

.nav-list {
	list-style: none;
}

.offers-list {
	list-style: none;
}

.offers-list a {
	color: #ffd180;
}

.footer-information {
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
}

.footer-information_lsit {
	list-style: none;
}

.footer-information p a {
	color: #f5c97d;
}


/* Каталог */

.login {
	font-size: 21px;
	line-height: 18px;
}

.data-list {
	list-style: none;
}

.data-list a {
	color: #32425c;
	font-size: 16px;
}

.catalog-main {
	font-family: "PT SANS";
}

.search-list {
	list-style: none;
}

.search-list a {
	font-size: 13px;
	color: #000;
	line-height: 18px;
}

.catalog-title {
	font-family: "Cuprum";
	font-size: 30px;
	color: #32425c;
	background-color: #f2f6f8;
	line-height: 30px;
}

.filter {
	font-size: 13px;
	color: #32425c;
	background-color: #f7f3ec;
	line-height: 18px;
}

.price {
	font-size: 17px;
	line-height: 30px;
}

.range {
	background-color: #f7f3ec;
}

.coast {
	background-color: #f7f3ec;
}

.catalog-produced {
	font-size: 15px;
	line-height: 30px;
}

.catalog-produced label {
	line-height: 20px;
}

.legend-produced {
	font-size: 17px;
	line-height: 30px;
}

.catalog-energy {
	font-size: 15px;
	line-height: 30px;
}

.catalog-energy label {
	line-height: 20px;
}

.legend-energy {
	font-size: 17px;
}

.show {
	font-size: 13px;
	line-height: 18px;
}

.sorting {
	background-color: #f7f3ec;
	font-size: 13px;
	color: #cacaca;
	line-height: 18px;
}

.sorting-price {
	color: #ee3643;
}

.sorting-type {
	color: #cacaca;
}

.sorting-function {
	color: #cacaca;
}

.sorting-up {
	color: #ee3643;
}

.sorting-down {
	color: #cacaca;
}

.pagination {
	font-size: 13px;
	list-style: none;
	line-height: 18px;
}

.pagination a {
	color: #000;
}

.about-drill {
	background-color: #f2f6f8;
	font-size: 13px;
	line-height: 24px;
}

.about-drill h3 {
	font-family: "Cuprum";
	font-size: 30px;
}











